[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "*"
spacy = "*"
stackapi = "*"
gensim = "*"
spacy-langdetect = "*"
bs4 = "*"
google = "*"

[dev-packages]

[requires]
python_version = "3.8"
